<app-sidebar></app-sidebar>

<!-- home -->
<main>
    <img src="assets/images/home/ImgHome.png" alt="adoptar perros" class="img-fluid" style="width: 100%">
    <section>
        <div class="seccion-1 container-fluid bg-secundario d-lg-flex">
            <img src="assets/images/home/ImgQuienesSomos.png" alt="" class="img-fluid" style="width: 100%">
            <div class="container">
                <h2>¿Quiénes Somos?</h2>
                <p>Somos un grupo de 6 estudiantes de la carrera de Ingeniería de Sistemas de 7mo de la Universidad
                    Nacional Mayor de San Marcos, que a través de este proyecto buscamos una solución a la pérdidas
                    de nuestras mascotas , utilizando herramientas técnologías y todo lo aprendido en nuestra
                    carrera. Tu también puede ser parte de este increíble proyecto.</p>
                <div class="d-flex justify-content-around">
                    <div class="seccion-1-info-container">
                        <div class="seccion-1-info-content">
                            <img src="assets/images/home/ImgAdoptar.png" alt="">
                            <p>Adopción Responsable</p>
                        </div>
                    </div>
                    <div class="seccion-1-info-container">
                        <div class="seccion-1-info-content">
                            <img src="assets/images/home/ImgDonaciones.png" alt="">
                            <p>Donaciones Agua y Comida</p>
                        </div>
                    </div>
                    <div class="seccion-1-info-container">
                        <div class="seccion-1-info-content">
                            <img src="assets/images/home/ImgSalud.png" alt="">
                            <p>Salud y Esterilización</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="seccion-2 container-fluid p-5">
            <h2 class="text-center">¿Qué Ofrecemos?</h2>
            <div class="d-lg-flex justify-content-lg-around">
                <div
                    class="seccion-2-info-container mx-auto text-center d-flex flex-column justify-content-between">
                    <img src="assets/images/home/ImgRespeto.png" alt="" class="seccion-2-img">
                    <h4 class="seccion-2-titulo">Respeto con los Animales</h4>
                    <p>Nos caracterizamos por el respeto a los animales, de manera general, ya
                        que
                        vamos en búsqueda
                        de nuestras mascotas pérdida y a su vez ayudar a la comunidad de albergues de nuestra
                        sociedad.</p>
                </div>
                <div
                    class="seccion-2-info-container mx-auto text-center d-flex flex-column justify-content-between">
                    <img src="assets/images/home/ImgAmor.png" alt="" class="seccion-2-img">
                    <h4 class="seccion-2-titulo">Amor con los Animales</h4>
                    <p>Este pilar es fundamental para nosotros, ya que este proyecto nace con
                        ese
                        amor único a
                        nuestras mascotas, a fin de poder retribuirle el cariño que ellos nos dan día a día.</p>
                </div>
                <div
                    class="seccion-2-info-container mx-auto text-center d-flex flex-column justify-content-between">
                    <img src="assets/images/home/ImgSolidaridad.png" alt="" class="seccion-2-img">
                    <h4 class="seccion-2-titulo">Solidaridad con los Animales</h4>
                    <p>A fin de retribuir con la sociedad, este proyecto busca encontrar a
                        nuestras
                        mascotas
                        pérdidas y ayudar a la sociedad a tener más empatía en nuestras mascotas.</p>
                </div>
            </div>
        </div>
    </section>
</main>


